src/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results" type="resultsType"/>
  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element name="login">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cool"/>
            <xs:enumeration value="clever"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="testsType" name="tests"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="studentType" name="student" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
        <xs:attribute type="xs:string" name="mark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="testsType">
    <xs:sequence>
      <xs:element type="testType" name="test" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>